/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  gap: 10px;
  font-family: monospace;

}

.individual-button {
  flex: 0 0 calc(0.25 * (100% - 30px));
  box-sizing: border-box;
}
.individual-button:last-of-type {
  flex-grow: 2;
}

.individual-button:hover {
  border-color: blueviolet;
} */