:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #6a535a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.calculator-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  gap: 10px;
  cursor: pointer;
}

.individual-button {
  flex: 0 0 calc(0.25 * (100% - 30px));
  box-sizing: border-box;
  justify-content: center;
  transition: transform 0.1s ease;
}
.individual-button:last-of-type {
  flex-grow: 2;
}

.individual-button:hover {
  filter: brightness(1.1);
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
